.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.button
{
  text-align: center;
  margin-top: 3rem;

}
#dice-button
{
  font-size: 3rem;
  border-radius: 11%;
    font-family: 'Shadows Into Light', cursive;
}
#dice-button:hover
{
  background-color: #d6f8b8;


}
.tap
{
  height: 6em;
  width: 6em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
button:focus {outline:0;}
